<footer class="footer sm:footer-horizontal bg-blue-200 text-neutral-content p-10">
  <aside class="">
    <img src="assets/images/dearme,logo.png" alt="จดบันทึกออนไลน์ Dearme,Today" class="w-24 h-15">
    <p class="text-xl">
      Dear me, Today
      <br />
      Copyright © 2025 - All right reserved by Dear me, Today
    </p>
  </aside>
  <nav>
    <h6 class="footer-title font-bold text-white">Social</h6>
    <div class="grid grid-flow-col gap-4 font-bold">
      <a href="https://instagram.com/dearme_bynine/" target="_blank" class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24" class="fill-current text-white">
          <path
            d="M7.5 2h9A5.5 5.5 0 0 1 22 7.5v9A5.5 5.5 0 0 1 16.5 22h-9A5.5 5.5 0 0 1 2 16.5v-9A5.5 5.5 0 0 1 7.5 2zm0 2A3.5 3.5 0 0 0 4 7.5v9A3.5 3.5 0 0 0 7.5 20h9a3.5 3.5 0 0 0 3.5-3.5v-9A3.5 3.5 0 0 0 16.5 4h-9zm4.5 3a5.5 5.5 0 1 1 0 11 5.5 5.5 0 0 1 0-11zm0 2a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm5.75-.75a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5z" />
        </svg>
      </a>
      <a href="https://linktr.ee/sometime9193" target="_blank" class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24" class="fill-current text-white">
          <path
            d="M12 2 6 8h3v4h6V8h3l-6-6zm0 20-6-6h3v-4h6v4h3l-6 6z" />
        </svg>
      </a>
    </div>
  </nav>
</footer>
