<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1 space-x-10">
    <a class="btn btn-ghost text-xl">Dear Me, Today</a>
    <a
      routerLink="/dashboard"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-xl font-bold px-3 py-2 rounded-lg transition-colors hover:bg-purple-100 pr-3  "
      >Dashboard</a
    >
    <a href="/community" class="text-xl font-bold">Community</a>
  </div>
  <div class="flex gap-2">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            *ngIf="user()?.avatarUrl"
            [src]="user()?.avatarUrl"
            [alt]="user()?.name"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow"
      >
        <li class="menu-title">{{ user()?.name }}</li>
        <li><button (click)="logout()">Logout</button></li>
      </ul>
    </div>
  </div>
</div>
